In [34]:
import pandas as pd
import requests
import json
import time
import pathlib
from pathlib import Path
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

In [39]:
#import fungi
fungi_data = pd.read_excel("./species_app/data/Fungi Data/GlobalFungi_metadata.xlsx")

In [36]:
cd ..

/Users/beckybland/Desktop/R/USC/species-project

In [25]:
# Create Database Connection
db_path = pathlib.Path('../species_app/data/species_database.sqlite')
engine = create_engine(f'sqlite:///{db_path}')
session = Session(bind=engine)
con = engine.connect()

In [26]:
# import distribution json into sqlite
with open('../species_app/data/Plants Data/Distribution JSON/distributions.json', 'r') as F:
    dist_json = json.load(F)

In [20]:
# create dataframe - and filter for level 1-4 (52 regional zones)
distribution_df = pd.DataFrame(dist_json)
distribution_df = distribution_df.drop(columns = ['links', 'children', 'parent'])
level_one = distribution_df.loc[(distribution_df['tdwg_level']==1)]
level_two = distribution_df.loc[(distribution_df['tdwg_level']==2)]
level_three = distribution_df.loc[(distribution_df['tdwg_level']==3)]
level_four = distribution_df.loc[(distribution_df['tdwg_level']==4)]

In [17]:
level_one

      id              name slug tdwg_code  tdwg_level  species_count
4    407            Africa    2         2           1         197130
28   742         Antarctic    9         9           1            883
46   433    Asia-Temperate    3         3           1         156500
47   504     Asia-Tropical    4         4           1         132136
50   565       Australasia    5         5           1          37027
198  369            Europe    1         1           1         125087
467  595  Northern America    7         7           1         215263
498  576           Pacific    6         6           1          15323
603  643  Southern America    8         8           1         241868

In [33]:
# engine.execute("drop table if exists plants")

In [32]:
pd.read_sql('select * from distribution where tdwg_level = 1', con=engine)

    id              name slug tdwg_code  tdwg_level  species_count
0  407            Africa    2         2           1         197130
1  742         Antarctic    9         9           1            883
2  433    Asia-Temperate    3         3           1         156500
3  504     Asia-Tropical    4         4           1         132136
4  565       Australasia    5         5           1          37027
5  369            Europe    1         1           1         125087
6  595  Northern America    7         7           1         215263
7  576           Pacific    6         6           1          15323
8  643  Southern America    8         8           1         241868

In [9]:
distribution_df.to_sql(name='distribution', con=engine, index=False, if_exists='replace') #, dtype = d_type_dist)

In [22]:
#import fungi to sqlite
fungi_data = pd.read_excel("../species_app/data/Fungi Data/GlobalFungi_metadata.xlsx")
#fungi_data.to_sql(name='fungi', con=engine, index=False, if_exists='replace') #, dtype = d_type_fungi)

In [134]:
# #loop through plant species json and import into sqlite db
# directory_in_str = 'data/Plants Data/Species JSON'

# pathlist = Path(directory_in_str).rglob('*.json')
# for path in pathlist:
#     path_in_str = str(path)
#     if 'ipynb_checkpoints' not in path_in_str:
#         print(path_in_str)
#         with open(path_in_str, 'r') as F:
#             not_test = json.load(F)
#         for result in not_test:
#             species_df = pd.DataFrame(result['data'])
#             d_type = {col: String() for col in species_df.columns}
#             species_df = species_df.drop(columns = ['synonyms', 'links'])
#             try:
#                 species_df.to_sql(name='species', con=engine, index=False, if_exists='append') #, dtype = d_type)
#             except Exception as e:
#                 print(e)

data/Plants Data/Species JSON/species_7.0.json
data/Plants Data/Species JSON/species_24.0.json
data/Plants Data/Species JSON/species_36.0.json
data/Plants Data/Species JSON/species_28.0.json
data/Plants Data/Species JSON/species_12.0.json
data/Plants Data/Species JSON/species_34.0.json
data/Plants Data/Species JSON/species_38.0.json
data/Plants Data/Species JSON/species_26.0.json
data/Plants Data/Species JSON/species_10.0.json
data/Plants Data/Species JSON/species_9.0.json
data/Plants Data/Species JSON/species_5.0.json
data/Plants Data/Species JSON/species_18.0.json
data/Plants Data/Species JSON/species_14.0.json
data/Plants Data/Species JSON/species_41.0.json
data/Plants Data/Species JSON/species_22.0.json
data/Plants Data/Species JSON/species_30.0.json
data/Plants Data/Species JSON/species_1.0.json
data/Plants Data/Species JSON/species_3.0.json
data/Plants Data/Species JSON/species_16.0.json
data/Plants Data/Species JSON/species_32.0.json
data/Plants Data/Species JSON/species_20.0.json
data/Plants Data/Species JSON/species_13.0.json
data/Plants Data/Species JSON/species_25.0.json
data/Plants Data/Species JSON/species_29.0.json
data/Plants Data/Species JSON/species_37.0.json
data/Plants Data/Species JSON/species_6.0.json
data/Plants Data/Species JSON/species_8.0.json
data/Plants Data/Species JSON/species_4.0.json
data/Plants Data/Species JSON/species_11.0.json
data/Plants Data/Species JSON/species_35.0.json
data/Plants Data/Species JSON/species_27.0.json
data/Plants Data/Species JSON/species_39.0.json
data/Plants Data/Species JSON/species_23.0.json
data/Plants Data/Species JSON/species_40.0.json
data/Plants Data/Species JSON/species_31.0.json
data/Plants Data/Species JSON/species_19.0.json
data/Plants Data/Species JSON/species_15.0.json
data/Plants Data/Species JSON/species_33.0.json
data/Plants Data/Species JSON/species_21.0.json
data/Plants Data/Species JSON/species_17.0.json
data/Plants Data/Species JSON/species_2.0.json

In [42]:
#read in species table
pd.read_sql('species', engine)

,id,common_name,slug,scientific_name,year,bibliography,author,status,rank,family_common_name,genus_id,image_url,synonyms,genus,family,links
0,1127983,None,physalis-hastatula,Physalis hastatula,1967.0,Rhodora 69: 111 (1967),Waterf.,accepted,species,Potato family,4128,https://d2seqvvyy3b8p2.cloudfront.net/83453125...,None,Physalis,Solanaceae,None
1,578601,None,diospyros-vitiensis-var-longisepala,Diospyros vitiensis var. longisepala,1971.0,J. Arnold Arbor. 52: 402 (1971),A.C.Sm. (Gillespie),accepted,var,Ebony family,2477,None,None,Diospyros,Ebenaceae,None
2,539312,None,crassula-lanuginosa-var-pachystemon,Crassula lanuginosa var. pachystemon,1975.0,J. S. African Bot. 41: 106 (1975),Tölken (Schönl. & Bak.fil.),accepted,var,Stonecrop family,2083,None,None,Crassula,Crassulaceae,None
3,1127160,None,lycium-decumbens,Lycium decumbens,1898.0,Cat. Afr. Pl. 1: 752 (1898),Welw. ex Hiern,accepted,species,Potato family,4330,https://d2seqvvyy3b8p2.cloudfront.net/8c093e1e...,None,Lycium,Solanaceae,None
4,1126945,None,lycianthes-rostellata,Lycianthes rostellata,2003.0,Austrobaileya 6: 568 (2003),(Merr. & L.M.Perry) A.R.Bean,accepted,species,Potato family,4328,None,None,Lycianthes,Solanaceae,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,1017972,None,hemionitis-pteridioides,Hemionitis pteridioides,2018.0,Global Fl. 4: 19 (2018),(Reichard) Christenh.,accepted,species,Maidenhair Fern family,3470,https://bs.plantnet.org/image/o/d5478fbb62f37b...,None,Hemionitis,Pteridaceae,None
856,565385,None,rhynchospora-riparia,Rhynchospora riparia,1873.0,Linnaea 37: 561 (1873),(Nees) Boeckeler,accepted,species,Sedge family,5873,https://d2seqvvyy3b8p2.cloudfront.net/8327ba1e...,None,Rhynchospora,Cyperaceae,None
857,456958,None,euploca-filiformis,Euploca filiformis,2009.0,Kew Bull. 64: 288 (2009),(Lehm.) J.I.M.Melo & Semir,accepted,species,Borage family,3455,https://d2seqvvyy3b8p2.cloudfront.net/ac2938a1...,None,Euploca,Boraginaceae,None
858,255666,None,helichrysum-felinum,Helichrysum felinum,1832.0,Syn. Gen. Compos.: 287 (1832),Less.,accepted,species,Aster family,1109,https://d2seqvvyy3b8p2.cloudfront.net/567479ca...,None,Helichrysum,Asteraceae,None
859,118349,None,zeltnera-exaltata,Zeltnera exaltata,2004.0,Taxon 53: 731 (2004),(Griseb.) G.Mans.,accepted,species,Gentian family,1577,https://d2seqvvyy3b8p2.cloudfront.net/d48c32ad...,None,Zeltnera,Gentianaceae,None